---
http_interactions:
- request:
    method: get
    uri: https://api.stockfighter.io/gm/instances/207
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Starfighter-Authorization:
      - FAKEKEY
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Upstream-Debugging:
      - instance-207
    body:
      encoding: UTF-8
      string: |-
        {
          "ok": true,
          "done": false,
          "id": 207,
          "state": "open"
        }
  recorded_at: Sun, 27 Dec 2015 04:25:32 GMT
recorded_with: VCR 3.0.0
