---
http_interactions:
- request:
    method: post
    uri: https://api.stockfighter.io/ob/api/venues/TESTEX/stocks/FOOBAR/orders
    body:
      encoding: UTF-8
      string: '{"account":"EXB123456","venue":"TESTEX","stock":"FOOBAR","qty":100,"direction":"buy","orderType":"market"}'
    headers:
      X-Starfighter-Authorization:
      - FAKEKEY
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "ok": true,
          "symbol": "FOOBAR",
          "venue": "TESTEX",
          "direction": "buy",
          "originalQty": 100,
          "qty": 0,
          "price": 0,
          "orderType": "market",
          "id": 475,
          "account": "EXB123456",
          "ts": "2015-12-27T04:30:20.396513055Z",
          "fills": [
            {
              "price": 9999,
              "qty": 100,
              "ts": "2015-12-27T04:30:20.3965161Z"
            }
          ],
          "totalFilled": 100,
          "open": false
        }
  recorded_at: Sun, 27 Dec 2015 04:30:04 GMT
recorded_with: VCR 3.0.0
