---
http_interactions:
- request:
    method: post
    uri: https://api.stockfighter.io/ob/api/venues/TESTEX/stocks/FOOBAR/orders
    body:
      encoding: UTF-8
      string: '{"body":"{\"account\":\"EXB123456\",\"venue\":\"TESTEX\",\"stock\":\"FOOBAR\",\"qty\":100,\"direction\":\"buy\",\"orderType\":\"market\"}"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - text/plain; charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {"ok":false,"error":"Auth/auth failed: %!(EXTRA string=Need to specify an API key (looks like a long hexidecimal string.))"}
  recorded_at: Sun, 27 Dec 2015 04:25:12 GMT
recorded_with: VCR 3.0.0
