---
http_interactions:
- request:
    method: post
    uri: https://api.stockfighter.io/ob/api/venues/TESTEX/stocks/FOOBAR/orders
    body:
      encoding: UTF-8
      string: '{"account":"EXB123456","venue":"TESTEX","stock":"FOOBAR","qty":100,"direction":"buy","orderType":"market"}'
    headers:
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - text/plain; charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {"ok":false,"error":"Auth/auth failed: %!(EXTRA string=Need to specify an API key (looks like a long hexidecimal string.))"}
  recorded_at: Sun, 13 Dec 2015 08:59:52 GMT
recorded_with: VCR 3.0.0
