---
http_interactions:
- request:
    method: post
    uri: https://api.stockfighter.io/ob/api/venues/ILEHEX/stocks/PLI/orders
    body:
      encoding: UTF-8
      string: '{"account":"HB38644880","venue":"ILEHEX","stock":"PLI","qty":100,"direction":"buy","orderType":"market"}'
    headers:
      X-Starfighter-Authorization:
      - fakeKey
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "ok": true,
          "symbol": "PLI",
          "venue": "ILEHEX",
          "direction": "buy",
          "originalQty": 100,
          "qty": 0,
          "price": 0,
          "orderType": "market",
          "id": 854,
          "account": "HB38644880",
          "ts": "2015-12-13T07:56:31.731351217Z",
          "fills": [
            {
              "price": 4562,
              "qty": 100,
              "ts": "2015-12-13T07:56:31.731352633Z"
            }
          ],
          "totalFilled": 100,
          "open": false
        }
  recorded_at: Sun, 13 Dec 2015 07:56:25 GMT
recorded_with: VCR 3.0.0
