---
http_interactions:
- request:
    method: get
    uri: https://api.stockfighter.io/ob/api/venues/TESTEX/stocks/FOOBAR
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "ok": true,
          "venue": "TESTEX",
          "symbol": "FOOBAR",
          "ts": "2015-12-27T04:25:28.320553653Z",
          "bids": [
            {
              "price": 9991,
              "qty": 100,
              "isBuy": true
            },
            {
              "price": 9991,
              "qty": 100,
              "isBuy": true
            },
            {
              "price": 9991,
              "qty": 100,
              "isBuy": true
            },
            {
              "price": 9991,
              "qty": 100,
              "isBuy": true
            },
            {
              "price": 9991,
              "qty": 100,
              "isBuy": true
            },
            {
              "pr[...]
