---
http_interactions:
- request:
    method: get
    uri: https://api.stockfighter.io/ob/api/venues/TESTEX/stocks/FOOBAR
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "ok": true,
          "venue": "TESTEX",
          "symbol": "FOOBAR",
          "ts": "2015-12-13T06:39:12.210607274Z",
          "bids": null,
          "asks": null
        }
  recorded_at: Sun, 13 Dec 2015 06:39:05 GMT
recorded_with: VCR 3.0.0
