---
http_interactions:
- request:
    method: get
    uri: https://api.stockfighter.io/ob/api/venues/TESTEX/stocks/FOOBAR/quote
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "ok": true,
          "symbol": "FOOBAR",
          "venue": "TESTEX",
          "bid": 9991,
          "ask": 9999,
          "bidSize": 2200,
          "askSize": 2400,
          "bidDepth": 2912,
          "askDepth": 42696,
          "last": 9990,
          "lastSize": 100,
          "lastTrade": "2015-12-27T04:05:14.43225781Z",
          "quoteTime": "2015-12-27T04:20:10.255207408Z"
        }
  recorded_at: Sun, 27 Dec 2015 04:25:12 GMT
recorded_with: VCR 3.0.0
