---
http_interactions:
- request:
    method: get
    uri: https://api.stockfighter.io/ob/api/venues/TESTEX/stocks/FOOBAR/quote
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "ok": true,
          "symbol": "FOOBAR",
          "venue": "TESTEX",
          "bidSize": 0,
          "askSize": 0,
          "bidDepth": 0,
          "askDepth": 0
        }
  recorded_at: Sun, 13 Dec 2015 06:39:07 GMT
recorded_with: VCR 3.0.0
