---
http_interactions:
- request:
    method: get
    uri: https://api.stockfighter.io/ob/api/venues/TESTEX/stocks/FOOBAR/quote
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "ok": true,
          "symbol": "FOOBAR",
          "venue": "TESTEX",
          "bid": 5142,
          "bidSize": 324,
          "askSize": 0,
          "bidDepth": 324,
          "askDepth": 0,
          "last": 5142,
          "lastSize": 3,
          "lastTrade": "2015-12-11T10:09:34.118694445Z",
          "quoteTime": "2015-12-11T10:09:41.512572098Z"
        }
  recorded_at: Sat, 12 Dec 2015 12:06:50 GMT
recorded_with: VCR 3.0.0
