---
http_interactions:
- request:
    method: post
    uri: https://api.stockfighter.io/gm/levels/first_steps
    body:
      encoding: UTF-8
      string: ''
    headers:
      X-Starfighter-Authorization:
      - fakeKey
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Upstream-Debugging:
      - 172.31.145.172:8181
    body:
      encoding: UTF-8
      string: |-
        {
          "ok": true,
          "instanceId": 207,
          "account": "RMB25037793",
          "instructions": {
            "Instructions": "# Welcome to Your New Job\n\n**These instructions are always available under the Instructions tab if you need to see them again.** \n\nCongrats on being employed at RockMethod Bank.  We're sure you'll **love** it here.  You have been granted\ncontrol over **account RMB25037793** and have full authority to conduct trades on it... subject to the not-so-watchful\neye of our risk management desk, naturally.\n\nFirst order of business: This is a blotter interface.  It connects your terminal to EFEY[...]
