---
http_interactions:
- request:
    method: get
    uri: https://api.stockfighter.io/ob/api/venues/TESTEX/stocks
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "ok": true,
          "symbols": [
            {
              "name": "Foreign Owned Occluded Bridge Architecture Resources",
              "symbol": "FOOBAR"
            }
          ]
        }
  recorded_at: Sat, 12 Dec 2015 12:06:48 GMT
recorded_with: VCR 3.0.0
